/* Global Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Body Setting*/

body {
background-image: url(../../assets/images/backround.jpg);
background-size:cover;
background-repeat: no-repeat;
height: 100vh;
}

#logo {
width: 24%;
height: 20%;

}

#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 48%;
  padding-top: 13%;
}
