/* Global Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Body Setting*/

body {
  background-image: url(../../assets/images/backround.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#logo {
  width: 21%;
  height: 20%;
}

#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 18%;
  padding-top: 10.5%;
  display: flex;
  justify-content: space-around;
  font-family: inherit;
  font-size: 2.0em;
}

.link {
  color: white;
  text-decoration: none;
  border: outset;
  border-radius: 32%;
}
